* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  @font-face {
    font-family: 'DELIRIUM NCV';
    src: url('font/DELIRIUMNCV.woff2') format('woff2'),
        url('font/DELIRIUMNCV.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #1A1A1A;

}

.MenuLinks{
    color: white;
    font-family: DELIRIUM NCV;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    text-decoration: none;
}

#Score{
    position: relative;
    left: 15%;
}

#Schedule{
    position: relative;
    left: 25%;
}

#News{
    position: relative;
    left: 45%;
}

#Video{
    position: relative;
    left: 55%;
}

#MainMenu{
    position: relative;
    left: 34%;
    }

#Shop{
    position: relative;
    left: 65%;
}

.LastNew{
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100vw;
}


#FrontImg{
    position: relative;
    z-index: 1;
    box-shadow: #ffffff 25px 25px;
}

#BackImg{
    position: relative;
    left: 10%;
    opacity: 0.3;
}

.NBA{
    font-family: DELIRIUM NCV;
    font-weight: normal;
    font-style: normal;
    position: relative;
    color: white;
}


a:hover{
    color: red;
    text-decoration: underline;
    transition: all .3s ease;
}

/* BURGER MENU */

.BugerMenu {
    position: relative;
    left: 5%;
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }

  .bar1{
    width: 35px;
  }
  .bar2{
      width: 35px;
  }
  .bar3{
      width: 35px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: red;

  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
    background-color: red;
  }



  /* LA GRILLE SA MERE */

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .header {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    position: absolute;
    width: 100vw;
    z-index: 2;
  }

  /* Image Principale */
  .two { 
    grid-column: 3 / 8;
    grid-row: 3 / 6;
  }
  /* Image background */
  .three{
    grid-column: 6 / 11;
    grid-row: 2 / 7;
  }
  .LastNewTitle{
    grid-column: 7 / 12;
    grid-row: 3;
    padding: 10px;
    position: relative;
    color: #1A1A1A;
    font-family: DELIRIUM NCV;
    font-weight: normal;
    font-style: normal;
    font-size: 7em;
    text-shadow: #ffffff 2px 2px, #ffffff -2px 2px, #ffffff -2px -2px, #ffffff 2px -2px;
    z-index: 1;
  }
.NBA_H2{
    position: relative;
    left: 25%;
    grid-column: 8 / 11;
    grid-row: 5;
    color: white;
    opacity: 0.15;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    font-size: 7em;
    letter-spacing: 10px;
}

.News-White{
    
    grid-column: 3 / 11;
    grid-row: 9 / 15;
    background-color: white;
    position: relative;
    z-index: 1;
    max-height: 740px;
  }

  .Carousel-1 {
    display:block;
    -webkit-animation: linear text-slide 20s infinite ;
    -moz-animation: linear text-slide 20s infinite ;
    -o-animation: linear text-slide 20s infinite ;
    -ms-animation: linear text-slide 20s infinite ;
    animation: linear text-slide 20s infinite ;
    margin-left:-100%;
    padding:0 5px;
    text-align:left;
    height: 100px;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    font-size: 6.5em;
    color: white;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
  }

  @-webkit-keyframes text-slide {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
   }
  @-moz-keyframes text-slide {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
   }
  @-o-keyframes text-slide {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
   }
  @-ms-keyframes text-slide {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
   }
  @keyframes text-slide {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
   }

   .Carousel-2 {
    display:block;
    -webkit-animation: linear text-slide 20s infinite ;
    -moz-animation: linear text-slide 20s infinite ;
    -o-animation: linear text-slide 20s infinite ;
    -ms-animation: linear text-slide 20s infinite ;
    animation: linear text-slide 20s infinite ;
    margin-left:-100%;
    padding:0 5px;
    text-align:left;
    height: 100px;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    font-size: 6.5em;
    color: white;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;

    position: relative;
    top: 540px;

    animation-direction: reverse;
  }

  #News1{
    grid-column: 2 / 4;
    grid-row: 12;
    color: white;
    font-size: 7.5em;
    opacity: 0.3;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
  }

  #News2{
    grid-column: 2 / 4;
    grid-row: 13;
    color: white;
    font-size: 7.5em;
    opacity: 0.3;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    transform: translateY(-30px);
  }

  #News3{
    grid-column: 2 / 4;
    grid-row: 14;
    color: white;
    font-size: 7.5em;
    opacity: 0.3;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    transform: translateY(-60px);
  }


  .footer-white{
    grid-column: 1 / 13;
    grid-row: 19;
    background-color: white;
  }

  .footer{
    grid-row: 20 / 23;
    grid-column: 4 / 10;
    position: relative;
  }

  .NBA-Footer{

    position: absolute;
    left: 80%;
    top: 20%;

    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    color: white;
    font-size: 7.5em;

  }

  .Link-Footer{
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-style: normal;
    font-size: 1.3em;

  }

  #N1{
    position: absolute;
    left: 10%;
    top: 25%;
  }
  #N2{
    position: absolute;
    left: 10%;
    top: 35%;
  }
  #N3{
    position: absolute;
    left: 10%;
    top: 45%;
  }
  #N4{
    position: absolute;
    left: 40%;
    top: 25%;

  }
  #N5{
    position: absolute;
    left: 40%;
    top: 35%;

  }
  #N6{
    position: absolute;
    left: 40%;
    top: 45%;

  }
  

  .LastScore{
    grid-column: 1 / 13;
    grid-row: 7;
    width: 100%;
  }

  .NewsImg1{
    grid-column: 4 / 8;
    grid-row: 10 / 14;
    position: relative;
    z-index: 2;
    margin-left: -60px;
  }
  
  .NewsImg2{
    grid-column: 7 / 11;
    grid-row: 10 / 12;
    position: relative;
    z-index: 2;
  }

  .NewsImg3{
    grid-column: 7 / 11;
    grid-row: 12 / 14;
    position: relative;
    z-index: 2;
  }

  .NextMatch1{
    grid-column: 2 / 8;
    grid-row: 16;
    margin-left: -40px;
  }

  .NextMatch2{
    grid-column: 8 / 13;
    grid-row: 16;
    margin-left: -40px;

  }

  .NextMatchText1{
    color: white;
    font-size: 7.5em;
    opacity: 0.3;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    grid-column: 2 / 6;
    grid-row: 16;
    transform: translateY(-50px);
  }
  .NextMatchText2{
    color: white;
    font-size: 4em;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    grid-column: 2 / 6;
    grid-row: 16;
    transform: translate(-15px, -30px);
  }
  .NextMatchText3{
    color: white;
    font-size: 7.5em;
    opacity: 0.3;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    grid-column: 6 / 9;
    grid-row: 17;
    transform: translate(-25px, -100px);
  }
  .NextMatchText4{
    color: white;
    font-size: 3.5em;
    font-weight: normal;
    font-style: normal;
    font-family: DELIRIUM NCV;
    grid-column: 11 / 12;
    grid-row: 17;
  }

  #Twitter{
    position: relative;
    left: 60%;
    top: 25%;
  }

  #Youtube{
    position: relative;
    left: 50%;
    top: 25%;
  }
  #Facebook{
    position: relative;
    left: 40%;
    top: 25%;
  }
  #Instagram{
    position: relative;
    left: 30%;
    top: 25%;
  }